name: Deploy Staging

on:
  workflow_dispatch:
  push:
    branches:
      - staging

jobs:
  build:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: AkhileshNS/heroku-deploy@v3.13.15
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "jeweler-backend-staging"
          heroku_email: "niklasjacobsen4201@gmail.com"
          usedocker: true
          docker_build_args: |
            NODE_ENV
            DATABSE_URL
        env:
          NODE_ENV: ${{ secrets.ENV }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}